type project
owners
    Karsten Gebbert
authors 
    Karsten Gebbert
projectUrl
    http://github.com/[github-user]/PaperTrail
iconUrl
    https://raw.githubusercontent.com/[github-user]/PaperTrail/master/docs/files/img/logo.png
licenseUrl
    http://github.com/[github-user]/PaperTrail/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    FP Search API
summary
    A search API for FP papers
description
    A search API for FP papers


